<!DOCTYPE html>
<html lang="en" ng-app="listaBomba">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Cadastro de Bomba</title>
    <style>
        .jumbotron{
            width: 400px;
            text-align: center;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
        }

        .selecionado{
            background-color: yellow;
        }
        .negrito{
            font-weight: bold;
        }
    </style>

    <script src="lib/angular/angular.js"></script>
    <script>
        angular.module("listaBomba", []);
        angular.module("listaBomba").controller("listaBombaController", function($scope, $http) {
            $scope.app = "Cadastro de Bomba";
            $scope.bombas = [];

            var carregarBomba = function(){
                $http.get("http://localhost:9595/api/bombas").then(sucessGET, errorGET)
            };
            function sucessGET(response){
                $scope.bombas = response.data._embedded.bombas
                console.log($scope.bombas)
            }
            function errorGET(error){
                console.log(error)
            }
            $scope.adicionarBomba = function(bomba){
                $http.post("http://localhost:9595/api/bombas", bomba).then(sucessPOST, errorPOST)
                delete $scope.bomba;
            };
            function sucessPOST(response){
                carregarBomba();
                delete $scope.bomba;
            }
            function errorPOST(error){
                console.log(error)
            }
            $scope.atualizarBombas = function(bombas, bomba){                
                $scope.bombas = bombas.filter(function(bomba2){
                    if (bomba2.selecionado) {
                        $http.put(bomba2._links.bomba.href, bomba).then(sucessPOST, errorPOST)
                        carregarBomba();
                    }

                });
            };
            $scope.apagarBombas = function(bombas){        
                let arrayDelete = [];        
                $scope.bombas = bombas.filter(function(bomba){
                    if (bomba.selecionado){
                        arrayDelete = [...arrayDelete, bomba]
                        arrayDelete.map(bomba2 =>{
                            $http.delete(bomba2._links.bomba.href).then(sucessPOST, errorPOST)
                        })
                        carregarBomba();
                    };
                });
            };
            $scope.isBombaSelecionado = function (bombas){
                return bombas.some(function (bomba) {
                    return bomba.selecionado;
                });
            };
            carregarBomba();
        });
    </script>
</head>
<body ng-controller="listaBombaController">
    <div class="jumbotron">
        <h3>{{app}}</h3>
    
        <table ng-show="bombas.length > 0" class="table table-striped mt-3">
            <tr>
                <th></th>
                <th>Nome</th>
                <th>Fabricante</th>
                <th></th>
            </tr>
            <tr ng-class="{'selecionado negrito': tempBomba.selecionado}" ng-repeat="tempBomba in bombas">
                <td><input type="checkbox" ng-model="tempBomba.selecionado"/></td>
                <td>{{tempBomba.nome}}</td>
                <td>{{tempBomba.fabricante}}</td>
                <td><div style="width: 20px; height: 20px;" ng-style="{'background-color': bomba.cor}"></div></td>
            </tr>
        </table>  
        <hr>
        <input class="form-control mb-3" type="text" ng-model="bomba.nome" placeholder="Nome"/>
        <input class="form-control mb-3" type="text" ng-model="bomba.fabricante" placeholder="Fabricante"/> 
        
        <button class="btn btn-primary btn-block" ng-click="adicionarBomba(bomba)" ng-if="!isBombaSelecionado(bombas)" ng-disabled="!bomba.nome || !bomba.fabricante">Adicionar Bomba</button>
        <button class="btn btn-warning btn-block" ng-click="atualizarBombas(bombas, bomba)" ng-if="isBombaSelecionado(bombas)" ng-disabled="!bomba.nome || !bomba.fabricante">Atualizar Bomba</button>
        <button class="btn btn-danger btn-block" ng-click="apagarBombas(bombas)" ng-if="isBombaSelecionado(bombas)">Apagar Bombas</button>
    </div>
</body>
</html>